@import '../scss/colors';
@import '../scss/fonts';
@import '../scss/mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: $bg--100;
	padding: 0;
	margin: 0;
	font-family: 'open_sans';
}

// --------------------- NAVBAR COMPONENTS ---------------
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1em 5em;

	.logo {
		display: flex;

		&__img {
			height: 70px;
			padding-right: 1em;
		}

		&__text {
			align-self: center;
			margin: 0;
			color: $color--400;
			font-size: 2rem;
			font-family: 'Norse', cursive;
			font-weight: bold;
		}
	}

	.navbar {
		align-self: center;

		.modal {
			display: none;
		}

		&__list {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;

			&--item {
				padding: 0 0.5em;

				.navbar__links {
					color: $color--200;
					font-size: 1.05rem;
					font-family: 'open_sans', sans-serif;
					font-weight: bolder;
					text-decoration: none;
					transition: all 0.2s ease;

					&:hover {
						color: $color--100;
					}
				}
			}

			.fa-times {
				display: none;
			}
		}

		&__menu {
			display: none;
		}
	}

	@include tablet-mobile {
		display: flex;
		justify-content: space-betweens;
		margin: 0.5em 1em 0;

		.logo {
			&__img {
				padding-right: 0.2em;
			}
		}

		.navbar {
			.modal {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fff;
				animation: modal 2s ease-in-out;
			}

			@keyframes modal {
				0% {
					background-color: #000;
					opacity: 0.1;
					transform: translateY(-10em);
				}

				50% {
					opacity: 1;
					transform: translateY(1em);
				}

				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			&__list {
				display: none;

				.navbar__links {
					font-size: 2rem;
					color: $color--400;
				}

				.hide {
					display: none;
				}

				.fa-times {
					display: inline-block;
					position: absolute;
					top: 6em;
					right: 2.5em;
					color: lightblue;
				}
			}

			&__menu {
				display: inline-block;
				color: lightblue;
			}
		}
	}
}

// --------------------- HEADER COMPONENTS ---------------
.header {
	background-image: linear-gradient(to bottom, #fff, #eee);
	height: 50%;
	width: 100%;

	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 2em;

		& > *:nth-child(-n + 2) {
			margin: 0;
			padding-bottom: 1em;
		}

		&--heading {
			color: $color--500;
			font-size: 2.2rem;
			font-weight: 300;
		}

		&--paragraph {
			color: $color--100;
			font-size: 1.1rem;
		}

		&--link {
			padding-bottom: 4em;
			color: $color--400;
			transition: all 0.2s ease-in;

			&:hover {
				color: $color--200;
				text-decoration: none;
			}
		}

		&--btn {
			padding: 1.25em 4em;
			border-radius: 0.2em;
			border: none;
			background-color: $bg--400;
			color: $bg--100;
			box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
			font-size: 1rem;
			font-weight: 600;
			text-transform: capitalize;
			transition: all 0.2s ease-in;
			cursor: pointer;

			&:hover {
				background-color: $bg--500;
			}
		}

		@include tablet {
			padding: 0 0.5em;
		}

		@include mobile-large {
			padding: 0 1em;
		}

		@include mobile-small {
			padding: 0 0.5em;
		}
	}

	&__hero {
		margin-top: 3em;

		&--img {
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

// --------------------- HOW IT WORKS COMPONENTS ---------------
.hiw {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.5fr 1fr;
	grid-template-areas:
		'mainContent mainContent mainContent'
		'subFirst subSecond subThird';
	grid-gap: 1em;
	justify-content: center;
	height: 100vh;
	padding: 2em 10em;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 2em 4em;

		& > * {
			margin: 0;
		}

		&--heading {
			margin: 1em 0;
		}

		&--para {
			color: $color--200;
			font-size: 1.2rem;
		}
	}

	.mainContent {
		grid-area: mainContent;
	}
	.subFirst {
		grid-area: subFirst;
	}
	.subSecond {
		grid-area: subSecond;
	}
	.subThird {
		grid-area: subThird;
	}

	@include tablet-mobile {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
			'mainContent  '
			'subFirst  '
			'subSecond'
			'subThird';
		padding: 0.5em 1em;

		.mainContent {
			grid-area: mainContent;
		}
		.subFirst {
			grid-area: subFirst;
		}
		.subSecond {
			grid-area: subSecond;
		}
		.subThird {
			grid-area: subThird;
		}

		& > * {
			padding: 1em 0;
		}
	}
}

// --------------------- COURSE COMPONENTS ---------------
.course {
	height: auto;
	padding: 2em 20em;
	background-color: $bg--200;

	&__heading {
		text-align: center;
	}

	&__section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 1.5em;
		margin: 3em 0;

		&--box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 1.5em 2em;
			background-color: #fff;
			box-shadow: 1px 1px 5px 1px rgba(107, 107, 107, 0.1);
			transition: all 0.5s ease;

			&:hover {
				background-color: lightblue;
			}

			a {
				color: $color--300;
				text-decoration: none;

				.boxes__img {
					height: 10em;
					width: 10em;
				}

				.boxes__title {
					margin: 1em 0 0.5em;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}

	&__button {
		display: block;
		margin: 0 auto;
		padding: 0.6em 2em;
		border: none;
		border-radius: 3px;
		background-color: $color--400;
		color: $bg--100;
		box-shadow: 1px 1px 5px 1px rgba(155, 155, 155, 0.5);
		font-size: 1.2rem;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.2s ease-out;

		&:hover {
			opacity: 0.8;
		}
	}

	@include tablet-mobile {
		margin-top: 45em;
		padding: 1em 3em;
	}
	@include mobile-large {
		margin-top: 48em;

		&__heading {
			font-size: 1.1rem;
		}
	}
	@include mobile-small {
		margin-top: 52em;
		padding: 1em;

		&__heading {
			font-size: 1.2rem;
		}
	}
}

// --------------------- STORIES COMPONENTS ---------------
.container-bg {
	background-image: linear-gradient(to bottom, #fff, #eee);
}
.stories {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75em;
	margin: 0 auto;
	padding: 1em 2em;

	&__heading {
		margin: 2em 0;
		color: $color--100;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			'first second'
			'third fourth';
		grid-gap: 0.5em;
		width: 100%;
		margin: 4em 0;

		&--box {
			display: flex;
			flex-direction: row;
			padding-bottom: 3em;

			.img {
				flex: 5%;
				align-self: flex-start;

				img {
					width: 3.125em;
					height: 3.125em;
					border-radius: 50%;
				}
			}

			.description {
				flex: 80%;

				& > * {
					margin: 0;
				}

				&__heading {
					color: $color--400;
					font-size: 1.1rem;
					font-weight: 600;
				}

				&__para {
					color: $color--100;
					font-weight: 500;
					line-height: 2;
				}
			}
		}

		.first {
			grid-area: first;
		}
		.second {
			grid-area: second;
		}
		.third {
			grid-area: third;
		}
		.fourth {
			grid-area: fourth;
		}

		@include tablet {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
			grid-template-areas:
				'first'
				'second'
				'third'
				'fourth';
			.first {
				grid-area: first;
			}
			.second {
				grid-area: second;
			}
			.third {
				grid-area: third;
			}
			.fourth {
				grid-area: fourth;
			}
		}

		@include mobile {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
			grid-template-areas:
				'first'
				'second'
				'third'
				'fourth';
			.first {
				grid-area: first;
			}
			.second {
				grid-area: second;
			}
			.third {
				grid-area: third;
			}
			.fourth {
				grid-area: fourth;
			}

			&--box {
				padding-bottom: 1em;
			}

			.img {
				display: none;
			}
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		&--cta {
			color: $color--200;
			transition: all 0.5s ease-in;

			&:hover {
				color: $color--100;
				text-decoration: none;
			}
		}

		&--heading {
			margin: 1.5em 0 1em;
			color: $color--200;
			font-size: 2.5rem;
			font-weight: 100;

			@include mobile {
				text-align: center;
			}
		}

		&--btn {
			height: 3em;
			width: 10em;
			margin-bottom: 1em;
			border-radius: 2px;
			border: none;
			box-shadow: 1px 1px 5px 1px rgba(107, 107, 107, 0.5);
			background-color: $bg--400;
			color: #fff;
			text-transform: capitalize;
			font-size: 1.1rem;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.5s ease-in;

			&:hover {
				background-color: $bg--500;
			}
		}
	}

	@include tablet {
		padding: 1.5em 4em;
	}
}

// --------------------- FOOTER COMPONENTS ---------------
.footer {
	height: 18em;
	padding: 0 10em;
	display: flex;
	align-items: center;
	justify-content: space-around;

	&__logo {
		a {
			text-decoration: none;
			display: flex;
		}

		&--img {
			height: 4.375em;
			padding-right: 1em;
		}

		&--text {
			align-self: center;
			margin: 0;
			color: $color--500;
			font-family: 'Norse';
			font-size: 1.5rem;
		}
	}

	&__icons {
		&--link {
			padding: 0 1em;
			color: $color--500;
			font-size: 1.5rem;
			text-decoration: none;
			transition: all 0.2s ease-in-out;

			&:hover {
				color: #000;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;

		.list {
			margin: 0;
			padding: 0 1em;
			list-style: none;

			&__item {
				padding: 0.4em 0;

				&--link {
					color: $color--200;
					text-decoration: none;
					font-weight: 800;
					transition: all 0.2s ease-in;

					&:hover {
						color: $color--100;
					}
				}
			}
		}
	}

	@include tablet-mobile {
		padding: 0;

		&__logo {
			display: none;
		}
	}

	@include mobile {
		height: 10em;

		&__list {
			display: none;
		}
	}
}

.btnUp {
	height: 3em;
	width: 3.5em;
	border-radius: 5px;
	position: absolute;
	right: 6em;
	bottom: -195em;
	background-color: $bg--400;

	a {
		margin: 0.1em 0.4em;
		color: $bg--100;
		font-size: 2rem;

		i {
			margin: 0;
		}
	}

	@include tablet-mobile {
		display: none;
	}
}
